<p>{{maliciousText}}</p>
<p [innerHTML]='maliciousText'></p>
<!-- <app-server></app-server>
<app-server></app-server> -->

<!-- <label>Server Name</label> -->
<!-- <input type="text" class='form-control' (input)="onUpdateServerName($event)">

<input type="text" class='form-control' [value]='serverName' (input)='serverName = $event.target.value'> -->

<!-- <input type="text" class='form-control' [(ngModel)]='serverName'>
<p>{{ serverName }}</p> -->

<!-- [disabled]="allowNewServer" -->
<!-- <button
    class="btn btn-primary"
    [disabled]="!allowNewServer"
    (click)="onCreateServer()"
>Add Server</button>
<p>{{allowNewServer}}</p>
<p>{{serverCreationStatus}}</p> -->

<label>User Name</label>

<input type="text" class='form-control' [(ngModel)]='challengeServerName'>
<p>{{challengeServerName}}</p>
<button
  class='btn btn-primary'
  [disabled]="challengeServerName === ''"
  (click)="onCreateChallengeServer()"
>
  Add Server
</button>
<button
  class='btn btn-primary'
  [disabled]="challengeServerName === ''"
  (click)="challengeServerName = ''"
>Reset challengeServerName</button>
<p>{{challengeServerStatus}}</p>

<!-- // *ngIf -->
<p *ngIf="challengeCreatedServer; else noServer">Server was created! is {{challengeServerName}}</p>
<ng-template #noServer>
  <p>No Server was created!</p>
</ng-template>
<div>
  <input type="radio" name='rb' (click)="changeData(true)" checked> Valid
  <input type="radio" name='rb' (click)="changeData(false)" > Invalid
  <div *ngIf="isValid">
    <b>The Data is valid</b>
  </div>
  <div *ngIf="!isValid">
    <b>The Data is invalid</b>
  </div>
</div>

<!-- // *ngIf directive with else block -->
<!-- <div *ngIf = “condition; else elseBlock”>…</div>
<ng-template #elseblock>….</ng-tempalte> -->

<!-- *ngFor -->
<!-- <app-server *ngFor="let server of servers"></app-server> -->

<!-- <button (click)="showSecret = !showSecret">Toggle Detail</button> -->
<button (click)="toggleDisplay()">Toggle Detail</button>
<div>
  <p *ngIf="showSecret">{{paragraph}}</p>
  <p
    *ngFor="let click of clicks"
    [ngStyle]="{backgroundColor: click > 5 ? 'gray' : 'none'}"
    [ngClass]="{'white-text': click <= 5}"
  >{{click}}</p>
</div>
