<h2>My App</h2>
<h3>This is my angular project</h3>
<input type="text" [(ngModel)]="name" />
<p>My name is {{ name }}</p>
<p>I'm a {{ role }} and working at {{ company }}</p>
<p>{{ getName() }}</p>
<!-- <img src={{img}}> -->
<img [src]="img" />
<hr />
<table>
  <thead>
    <tr>
      <th [attr.colspan]="colspan">
        {{ pageHeader }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>First Name</td>
      <td>{{ FirstName }}</td>
    </tr>
    <tr>
      <td>Last Name</td>
      <td>{{ LastName }}</td>
    </tr>
    <tr>
      <td>Branch</td>
      <td>{{ Branch }}</td>
    </tr>
    <tr>
      <td>Mobile</td>
      <td>{{ Mobile }}</td>
    </tr>
    <tr>
      <td>Gender</td>
      <td>{{ Gender }}</td>
    </tr>
    <tr>
      <td>Age</td>
      <td>{{ Age }}</td>
    </tr>
  </tbody>
</table>
<hr />
<app-server></app-server>
<app-servers></app-servers>
<app-warning-alert></app-warning-alert>
<app-success-alert></app-success-alert>
<hr>
<!-- <button [class]="ClassesToApply">Click Me</button> -->
<!-- <button 
    class="colorClass"
    [class.boldClass]='ApplyBoldClass'
>Click Me</button> -->
<!-- <button 
    class="colorClass italicClass boldClass"
    [class.boldClass]='!ApplyBoldClass'
>Click Me</button> -->
<button 
    class="colorClass"
    [ngClass]='AddCSSClasses()'
>Click Me</button>